.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
table {
    width: 100%;
}

.table-content {
    padding: 2rem;
}

.avatar-table {
    width: 30px;
    height: 30px;
}
